/data/
/genome/
/bam/
/fasta/
/true-damage/
__pycache__/

__pycache__
/.cache/*
*.bam
*.fastq
*.fq
*.parquet
*.db
*.pyc
.DS_Store
meta*
*.code-workspace
old*
/logs/
results.zip
damaged_reads*.txt
config*.yaml
pydamage/*
