/data/
/data-forward/
/data-*
/data_*
/logs/
/input-data/
/genomes/
/other/
/figures/individual-comparison/
/old_figures/
/old/
/figures/old/
.cache
.DS_Store
__pycache__/

acc2taxid.map.gz
names.dmp
nodes.dmp
simulations.code-workspace

/mapping_homo/
subset_A_slash_B.bam